<div class="container-fluid">
  <div class="container">
    <div class="row mt-4">
      <div class="col"></div>
      <div class="col-md-6 bg-light shadow">
        <div class="card bg-warning mt-4">
          <h4 class="text-white">To Do List</h4>
        </div>
        <div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter A Task"
              aria-label="Enter A Task"
            />
            <button class="btn btn-outline-secondary" type="button">+</button>
          </div>
          <h4 class="text-primary mt-4">Tasks:</h4>
          <div>
            <div class="m-3">
              <div class="p-2 shadow">
                <div class="input-group row ps-3">
                  <div class="card col-md-10 border-0">A thing</div>
                  <button class="btn btn-outline-primary col">e</button>
                  <div class="btn btn-outline-danger col">X</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
